body {

    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.calculator {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:cornflowerblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#display {
    font-size: 24px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #ccc;
}

button.operator {
    background-color: #ff6b6b;
    color: #fff;
}

button.operator:hover {
    background-color: #ff5252;
}

button.operator:active {
    background-color: #e53935;
}

button.equals {
    background-color: #66bb6a;
    color: #fff;
}

button.equals:hover {
    background-color: #4caf50;
}

button.equals:active {
    background-color: #43a047;
}
